DATABASE_URL="" # Postgres
JWT_SECRET = "" # JWT Token secret key, 30 minimum
RECORDS_PER_PAGE = 100 # Maximum records per request
MAX_CONNECTIONS = 200 # Maximum Postgres Pool connections
MIN_CONNECTIONS = 10  # Minimum Postgres Pool connections