DATABASE_URL="url-goes-here?statement_timeout=30000" # Postgres
JWT_SECRET = "" # JWT Token secret key, 30 minimum
RECORDS_PER_PAGE = 100 # Maximum records per request
MAX_CONNECTIONS = 200 # Maximum Postgres Pool connections
MIN_CONNECTIONS = 10  # Minimum Postgres Pool connections
IDLE_TIMEOUT = 600 # Close idle connections
MAX_LIFETIME = 3600 # Max connection lifetime