@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@theme {
    --color-dark: #17181c;
    --color-light: #1a1c20;
    --color-para: #3f4145;
    --color-para-light: #616369;
    --color-input: #201f24;
    --color-main: #228ff5;
    --color-main-100: #1174d1;
}

* {
    font-family: "Google Sans", sans-serif;
    @apply antialiased;
}

h1,
h2,
h3,
button,
strong {
    @apply font-bold;
}

.space {
    font-family: "Space Mono", monospace;
}

p {
    @apply text-para-light;
}


.error {
    @apply text-red-500;
}

button,
a {
    @apply cursor-pointer;
}

.records th:first-child,
.records td:first-child {
    @apply min-w-20 max-w-20;
}

.records th {
    @apply min-w-55 w-55 text-start py-1 px-3 border-x border-gray-300 text-[12px];
}

.records td {
    @apply min-w-55 w-55 text-start py-2 px-3 border border-gray-300 text-[12px];
}