@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
    --color-dark: #17181c;
    --color-light: #1a1c20;
    --color-para: #3f4145;
    --color-para-light: #616369;
    --color-input: #201f24;
    --color-main: #228ff5;
    --color-main-100: #1174d1;
}

* {
    /* font-family: "Space Mono", monospace; */
    @apply subpixel-antialiased;
}

h1,
h2,
h3,
button,
strong,
span {
    @apply font-bold;
}

.space {
    font-family: "Space Mono", monospace;
}

p {
    @apply text-para-light;
}


.error {
    @apply text-red-500;
}

button,
a {
    @apply cursor-pointer;
}

.records th:first-child,
.records td:first-child {
    @apply w-[80px];
}

.records th {
    @apply w-[220px] text-start py-1 px-3 border border-gray-300 text-[12px];
}

.records td {
    @apply w-[220px] text-start py-2 px-3 border border-gray-300 text-[12px];
}